# Dependencies
/node_modules
/.pnpm-store

# Build output
/dist
/.angular/cache
/out-tsc
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE/editor
.vscode/
.idea/

# Env files
.env
.env.*
!.env.example

# System
.DS_Store
Thumbs.db

# Local archives/backups
*.zip
